body {
    margin: 0;
    border: 0;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
  }

h1{
    font-size: 18px;
    text-align: center;
    background-color: rgb(142, 204, 204);
    padding: 5px;
}

h2{
    font-size: 18px;
    text-align: center;
}

.container{
        background-color: whitesmoke;
}

.container1{
    border: 1px solid gray;
    width: 150px;
    display: inline-flex;
}

.container2, .container3{
    display: flex;
    height: 150px;
    width: 100%;
    background-color: whitesmoke;
}

.container3{
    justify-content: center;
}

.container4{
    height: 150px;
    width: 100%;
    display: flex;
    background-color: whitesmoke;
}

.container5{
    background-color: dodgerblue;
    display: flex;
    align-items: center;
    min-height: 125px;
    justify-content: space-around;
}

.container6{
    background-color: whitesmoke;
    height: 300px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.box{
    background-color: dodgerblue;
    height: 100px;
    width: 100px;
    border: 1px solid lightgray;
}

.box1{
    height: 75px;
    width: 75px;
    background-color: dodgerblue;
    border: 1px solid turquoise;
}

.box2{
    height: 75px;
    width: 100px;
    background-color: dodgerblue;
    border: 1px solid lightgray;
    display: inline-block;
}

.box3{
    background-color: whitesmoke;
    border: 1px solid white;
    width: 100px;
    height: 100px;
}

.left, .center, .right{
    min-height: 75px;
    width: 125px;
    background-color: dodgerblue;
    border: 2px solid lightgray;
}

.left1, .center5, .right1{
    min-height: 75px;
    width: 200px;
    margin: 2px;
    background-color: dodgerblue;
    border: 1px solid lightgray;
}

.top, .middle, .bottom, .grow, .shrink {
  width: 100px;
  height: 100px;
  background-color: Dodgerblue;
  border: 2px solid lightgrey;
  margin: 10px 30px;
}

/*.top.side{
    flex-grow: 1;
}*/

.side2, .center4{
    height: 75px;
    background-color: dodgerblue;
    border: 1px solid lightgray;
    display: inline-block;
}

.top.side{
    flex-shrink: 2;
}

.top.center1{
    flex-grow: 1;
}

.middle.side{
    flex-shrink: 0;
}

.middle.center1{
    flex-grow: 1;
}

.bottom.side{
    flex-grow: 1;
}

/*.bottom.center1{
    flex-grow: 2;
}*/

.bottom.center1{
    flex-shrink: 2;
}

.grow.side1{
    flex-basis: 60px;
    flex-grow: 1;
}

.grow.center2{
    flex-grow: 3;
}

.shrink.side1{
    flex-basis: 300px;
    flex-shrink: 3;
}

.shrink.center2{
    flex-shrink: 2;
    flex-basis: 150px;
}

#flex{
    display: inline-flex;
}

#flexstart{
    justify-content: flex-start;
}

#flexstart1{
    align-content: flex-start;
}

#flexstart2{
    align-items: flex-start;
}

#flexend{
    justify-content: flex-end;
}

#flexend1{
    align-content: flex-end;
}

#flexend2{
    align-items: flex-end;
}

#center{
    justify-content: center;
}

#center2{
    align-items: center;
}

#center5{
    align-content: center;
}

#spacearound{
    justify-content: space-around;
}

#spacearound1{
    align-content: space-around;
}

#spacebetween{
    justify-content: space-between;
}

#spacebetween1{
    align-content: space-between;
}

#stretch{
    align-content: stretch;
}

#baseline .center{
    height: 100px;
    width: 100px;
    border: 5px solid turquoise;
}

#baseline{
   align-items: baseline;
}

#top, #middle, #bottom, #grows, #shrinks{
    display: flex;
    background-color: whitesmoke;
    justify-content: center;
    align-items:center;
    min-height: 200px;
}

#top1 .side2{
    flex: 2 2 100px;
}

#top1 .center4{
    flex: 1 3 50px;
}

#bottom1 .side2{
    flex: 1 2 75px;
}

#bottom1 .center4{
    flex: 2 1 100px;
}

#wrap{
    flex-wrap: wrap;
}

#nowrap{
    flex-wrap: nowrap;
}

#reverse{
    flex-wrap: wrap-reverse;
}