*{
  border:1px solid red;
}

p {
    font-family: Arial;
  }
  
h1 {
    color: maroon;
  }

h2{
  background-color: aqua;
}
  
h2.destination {
    font-family: cursive;
  }
  
.title {
    color: teal;
  }
  
.uppercase {
    text-transform: uppercase;
  }
.publish-time {
    color: gray;
  }
  
.cursive {
    font-family: cursive;
  }
  
.capitalize {
    text-transform: capitalize;
  }
.description h5{
    color: teal;
  }
h5{
    color: rebeccapurple;
  }
h5, p{
    font-family: Georgia;
  }

a[href*='florence'] {
  color:lightgreen;
}

a[href*='beiging'] {
  color:lightblue;
}

a[href*='seoul'] {
  color:lightpink;
}

a:hover {
  color: darkorange;
}